/.vscode
/Airtable
/asana
/calendaly1
/convertkit
/freshservice
/gmail1
/google5
/googlecalendar3
/googledocs1
/googledrive1
/googlesheets1
/gusto
/klaviyo
/notion
/sendgrid
/slack
/slack_with_actions
/uber